/020
/030
/040
/050A
/050M
/__pycache
/resultados
/build
/dist
calculo_porcentajes_020.xlsx
calculo_porcentajes_040.xlsx
calculo_porcentajes_050A.xlsx
calculo_porcentajes_050M.xlsx
plantilla.xlsx
resultados.xlsx


